/*Nicholas Justus
9/29/20*/
body {
	background:#ffffff;
	color:#555;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
/*Errors that appear from PHP validation*/
.error{
	font-weight: bold;
	color: red;
}
h1{
	text-align: center;
}
input{
	border: 2px solid #67AC76;
	border-radius: 4px;
}
/*Submission button color*/
#finalButton{
	background-color: #8DE8A1;
}
#inputField{
	display: inline-block;
	padding-bottom: 2px;
}
.requiredField{
	color: red;
}

/*Sets a static size for the open ended text-areas. Does not like percentages.*/
.skillsBox{
	resize: none;
	width: 723px;
	height: 80px;
}
.longBar{
	resize: none;
	width: 1456px;
	height: 80px;
}
.education{
	resize: none;
	width: 1135px;
	height: 80px;
}
.certifications{
	resize: none;
	width: 1456px;
	height: 160px;
}
/*Positioning Graduation Status and Graduation Date*/
.gradDiv{
	float: right;
}
.gradFields{
	width: 300px;
}
input, select, .input {
	padding: 5px;
	font-size: 1em;
	background: #FFFFFF;
	border: 1px solid #004080;
}